* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

.navbar {
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: transparent !important;
}

.navbar.active {
  background-color: #fff !important;
}

.navbar .nav-item {
  margin: 0 10px;
  position: relative;
}

.navbar .nav-item .nav-link {
  color: black;
  padding: 10px 15px;
}

.navbar .nav-item .nav-link:hover {
  color: black;
}

@media (min-width: 992px) {
  .navbar .nav-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #ff6033;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .navbar .nav-item:hover::before {
    width: 100%;
  }
  .navbar .nav-item.active::before {
    width: 100%;
  }
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header {
  min-height: 100vh;
  background: url("../img/header/bg.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  padding-top: 78px;
  padding-bottom: 20px;
}

.header .textContent {
  padding-top: 5vh;
  margin: 0 auto;
}

@media (min-height: 545px) {
  .header .textContent {
    padding-top: 20vh;
  }
}

@media (min-height: 960px) {
  .header .textContent {
    padding-top: 25vh;
  }
}

.header .textContent .header-title {
  font-weight: 700;
  font-size: 4rem;
}

.header .btn-scroll {
  width: 25px;
  height: 50px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 15px;
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: scrollBtnAnimation infinite 2s;
          animation: scrollBtnAnimation infinite 2s;
}

.header .btn-scroll:before {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 3px;
  height: 12px;
  border-radius: 20px;
  background-color: #000;
}

.header .btn-orange {
  background-color: #ff6033;
  border-color: #ff6033;
  -webkit-transition: .2s;
  transition: .2s;
  text-transform: uppercase;
  -webkit-box-shadow: 0 2px 3px gray;
          box-shadow: 0 2px 3px gray;
}

.header .btn-orange:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@-webkit-keyframes scrollBtnAnimation {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes scrollBtnAnimation {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

.about {
  background-color: #00b1b1;
  color: white;
  padding: 20px;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 60%;
}

.about-title {
  font-weight: bold;
  font-size: 4rem;
  padding-top: 20px;
}

.about-description {
  font-size: 18px;
}

.about-description .break {
  display: block;
  padding-top: 10px;
}

@media (min-width: 1000px) {
  .about {
    padding: 80px 0;
  }
  .about .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .container .textContent {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .about-img {
    max-width: 500px;
  }
  .about-title {
    font-size: 5rem;
  }
}

.services {
  background-color: #70bfff;
  padding: 80px 5px;
  text-align: center;
}

.services .btn-services {
  width: 100%;
  margin: 10px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border: 2px solid white;
  -webkit-box-shadow: 0 0 15px black;
          box-shadow: 0 0 15px black;
  -webkit-transition: .3s;
  transition: .3s;
}

.services .btn-services .btn-text {
  margin: 0;
  width: 80%;
  padding: 20px 0;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
}

.services .btn-services .fas {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 44px;
  right: 20px;
}

.services .btn-services .fas:after {
  content: '';
  display: block;
  position: absolute;
  top: -40px;
  left: -20px;
  width: 2px;
  height: 120px;
  background-color: #eee;
  -webkit-transition: .3s;
  transition: .3s;
}

.services .btn-services:hover {
  -webkit-transform: rotate(1deg) scale(1.1);
          transform: rotate(1deg) scale(1.1);
}

.services .btn-services:hover .fas:after {
  background-color: #222;
}

.services .textContent {
  color: white;
  height: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .3s;
  transition: .3s;
}

.services .textContent.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  height: 100%;
}

.services .titleSection {
  position: relative;
}

.services .titleSection .services-img {
  width: 80%;
}

.services .titleSection .services-title {
  font-weight: bold;
  color: white;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.gallery {
  background-color: #ffe92f;
  text-align: center;
  padding-bottom: 80px;
}

.gallery-title {
  font-weight: bold;
  font-size: 4rem;
  padding-top: 80px;
  margin-bottom: 0;
}

.gallery-description {
  max-width: 570px;
  margin: auto;
  padding: 30px 0;
  font-weight: bold;
  font-size: 1rem;
}

.gallery-images {
  padding-bottom: 50px;
}

.gallery-images .wrapper-hide {
  display: none;
}

.gallery-images .gallery-main,
.gallery-images .gallery-middle,
.gallery-images .gallery-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery-images .gallery-main .gallery-img,
.gallery-images .gallery-middle .gallery-img,
.gallery-images .gallery-more .gallery-img {
  width: 100%;
  -webkit-box-shadow: 0 2px 10px 0 rgba(50, 50, 50, 0.6);
          box-shadow: 0 2px 10px 0 rgba(50, 50, 50, 0.6);
  margin-bottom: 15px;
}

@media (min-width: 550px) {
  .gallery-images .gallery-main .item-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gallery-images .gallery-main .item-small .gallery-img {
    padding: 0;
    width: 90%;
  }
  .gallery-images .gallery-middle,
  .gallery-images .gallery-more {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .gallery-images .gallery-middle .gallery-img,
  .gallery-images .gallery-more .gallery-img {
    width: 90%;
  }
}

@media (min-width: 992px) {
  .gallery-images .gallery-img {
    -webkit-transition: .5s;
    transition: .5s;
  }
  .gallery-images .gallery-img:hover {
    -webkit-transform: scale(1.02) rotate(-2deg);
            transform: scale(1.02) rotate(-2deg);
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
  .gallery-images .gallery-main {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .gallery-images .gallery-main .item-small {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .gallery-images .gallery-main .item-small .gallery-img {
    width: 90%;
  }
  .gallery-images .gallery-middle,
  .gallery-images .gallery-more {
    margin-top: 20px;
  }
  .gallery-images .gallery-middle .gallery-img,
  .gallery-images .gallery-more .gallery-img {
    width: 96%;
  }
}

@media (min-width: 1200px) {
  .gallery-images .item-big {
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
  }
}

.gallery .btn-view {
  background-color: #5585a2;
  border-radius: 0;
  text-transform: uppercase;
  padding: 10px 35px;
  border: none;
  -webkit-box-shadow: 0 2px 3px gray;
          box-shadow: 0 2px 3px gray;
  -webkit-transition: .2s;
  transition: .2s;
}

.gallery .btn-view:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.subscribe {
  background: url("../img/subscribe/subs-bg.png") no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}

@media (min-width: 550px) {
  .subscribe {
    background-position: center;
  }
}

.subscribe-title {
  font-weight: bold;
}

.subscribe-wrapper {
  padding: 80px 0;
}

.subscribe .subscribe-form {
  position: relative;
}

.subscribe .subscribe-form .form-input {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid black;
}

.subscribe .subscribe-form .form-input:focus {
  -webkit-box-shadow: 0 0 5px green;
          box-shadow: 0 0 5px green;
}

.subscribe .subscribe-form .form-btn {
  background-color: #96b92c;
  border-radius: 0;
  text-transform: uppercase;
  padding: 10px 35px;
  border: none;
  -webkit-box-shadow: 0 2px 3px gray;
          box-shadow: 0 2px 3px gray;
  -webkit-transition: .2s;
  transition: .2s;
}

.subscribe .subscribe-form .form-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (min-width: 576px) {
  .subscribe .subscribe-form .form-btn {
    position: absolute;
    top: 0;
    right: -180px;
  }
}

.blog {
  background-color: #b07cf7;
  color: white;
  text-align: center;
  padding-bottom: 50px;
}

.blog-title {
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  padding-top: 70px;
}

.blog-description {
  text-align: center;
  padding-bottom: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.blog-list {
  max-width: 1200px;
  margin: 0 auto;
}

.blog-list .blog-item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin: 20px;
  height: 300px;
  position: relative;
  -webkit-box-shadow: 0 5px 10px black;
          box-shadow: 0 5px 10px black;
  -webkit-transition: .3s;
  transition: .3s;
}

.blog-list .blog-item:nth-child(1) {
  background: url("../img/blog/img1.png") no-repeat center/cover;
}

.blog-list .blog-item:nth-child(2) {
  background: url("../img/blog/img2.png") no-repeat center/cover;
}

.blog-list .blog-item:nth-child(3) {
  background: url("../img/blog/img3.png") no-repeat center/cover;
}

.blog-list .blog-item .item-date {
  min-width: 60px;
  height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.1;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
}

.blog-list .blog-item .item-date .break {
  display: block;
}

.blog-list .blog-item .item-title {
  position: absolute;
  bottom: 40px;
  left: 20px;
  text-align: left;
  font-size: 1.2rem;
  padding-right: 10px;
  font-weight: bold;
}

.blog-list .blog-item .item-author {
  position: absolute;
  left: 20px;
  bottom: 10px;
  margin: 0;
  font-size: .9rem;
  color: rgba(255, 255, 255, 0.8);
}

.blog-list .blog-item:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.9) 100%);
}

.blog-list .blog-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (min-width: 680px) {
  .blog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.blog .btn-blog {
  background-color: #f72b3b;
  border-radius: 0;
  margin: 30px auto;
  text-transform: uppercase;
  padding: 10px 35px;
  border: none;
  -webkit-box-shadow: 0 2px 3px gray;
          box-shadow: 0 2px 3px gray;
  -webkit-transition: .2s;
  transition: .2s;
}

.blog .btn-blog:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contact {
  background: url("../img/contact/bg.png") no-repeat center/cover;
  text-align: center;
}

.contact-title {
  font-weight: bold;
  font-size: 4rem;
  padding-top: 50px;
}

.contact-description {
  font-weight: bold;
  max-width: 350px;
  margin: 30px auto;
}

.contact .contact-form .form-input,
.contact .contact-form .form-textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  color: white;
  background-color: rgba(0, 196, 196, 0.5);
}

.contact .contact-form .form-input::-webkit-input-placeholder,
.contact .contact-form .form-textarea::-webkit-input-placeholder {
  color: white;
}

.contact .contact-form .form-input:-ms-input-placeholder,
.contact .contact-form .form-textarea:-ms-input-placeholder {
  color: white;
}

.contact .contact-form .form-input::-ms-input-placeholder,
.contact .contact-form .form-textarea::-ms-input-placeholder {
  color: white;
}

.contact .contact-form .form-input::placeholder,
.contact .contact-form .form-textarea::placeholder {
  color: white;
}

.contact .contact-form .form-input:focus,
.contact .contact-form .form-textarea:focus {
  border-left: 4px solid #355b82;
  background-color: rgba(0, 196, 196, 0.8);
}

.contact .contact-info {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 10px;
}

.contact .contact-info .info-title {
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .contact .contact-info {
    margin: 0 0 0 120px;
    background-color: transparent;
  }
}

.footer {
  background-color: #222;
  color: #bbb;
  text-align: center;
  padding: 10px;
}

.footer .cahee {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
}

.footer .font-style {
  color: #f72b3b;
  font-weight: bold;
}

.footer .author-section {
  position: relative;
  font-weight: bold;
  font-size: 1.1rem;
}

.footer .author-section .author-description {
  margin-bottom: 0;
}

.footer .author-section:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

@media (min-width: 768px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */