.about {
    background-color: $dark-green;
    color: white;

    padding: 20px;

    .container {
        display: flex;
        flex-direction: column;
    }

    &-img {
        align-self: center;
        width: 60%;
    }

    &-title {
        font-weight: bold;
        font-size: 4rem;
        padding-top: 20px;
        asd
    }

    &-description {
        font-size: 18px;

        .break {
            display: block;
            padding-top: 10px;
        }
    }

    @media(min-width: 1000px) {
        padding: 80px 0;

        .container {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            .textContent {
                flex-basis: 40%;
            }

        }

        &-img {
            max-width: 500px;
        }

        &-title {
            font-size: 5rem;
        }
    }

}